In [125]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

### Importing DataFrame of Gamedays and formatting date Properly
df_queries = pd.read_csv(r'..\..\..\OneDrive\Desktop\Twitter\Arsenal_Tottenham_Games_Twitter.csv')

## Formatting Date
df_queries['Date'] = pd.to_datetime(df_queries['Date'])
df_queries['Date'] = pd.to_datetime(df_queries['Date'], format = '%yyyy-%mm-%dd')
df_queries['Date'] = df_queries['Date'].apply(str)
df_queries['Date'] = df_queries['Date'].str[:-9]

### Creating combined query column and converting to list. 
df_queries['combined'] = df_queries[['Team','Date']].values.tolist()
query_list = list(df_queries['combined'])

## Defining get_all_queries
def get_queries():
    queries = []
    for value in query_list:
        query = "{} until:{}".format(value[0],value[1])
        queries.append(query)
    return queries

all_queries = get_queries()


## Defining our get_tweets function

def get_tweets(query,limit =2): 
    tweets = []
    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        #print(vars(tweet))
        #break
        if len(tweets) == limit:
            break
        else:
            tweets.append([tweet.date, 
                           tweet.user.username, 
                           tweet.content, 
                           tweet.likeCount, 
                           tweet.replyCount, 
                           tweet.retweetCount])
    return tweets

records = []
for query in all_queries[0:100]:
    records.extend(get_tweets(query))

In [126]:
df_tweets = pd.DataFrame(records,columns =['Date','User','Tweet','TweetLikes','TweetReplies','RetweetCount']) 
print(df_tweets.shape)

(200, 6)

In [127]:
df_tweets.head()

,Date,User,Tweet,TweetLikes,TweetReplies,RetweetCount
0,2022-04-22 23:59:56+00:00,RoweThings,Can‚Äôt seem to find any serious buyers tonight ...,0,3,0
1,2022-04-22 23:59:54+00:00,Ancurancuran01,Gabsus solusi masalah striker Arsenal kah?? ht...,0,0,0
2,2022-04-22 23:59:43+00:00,whoisroq,@astromyke you're just pained that the üêê isn't...,0,2,0
3,2022-04-22 23:56:16+00:00,chisom_sommie,@MHoholek @Opresii PREMIER LEAGUE team of the ...,2,0,0
4,2022-04-19 23:59:48+00:00,demo_craz,@Arsenal Make una no go disgrace us oo take Ma...,2,0,0

In [131]:
## Get all the queries
test = all_queries[0:100]
limit = 2
large_list = []
for query in test: 
    for i in range(limit):
        large_list.append(query)
len(large_list)

200

In [132]:
df_queries = pd.DataFrame(large_list,columns =['Query'])

In [133]:
pd.concat([df_queries,df_tweets],axis =1)

,Query,Date,User,Tweet,TweetLikes,TweetReplies,RetweetCount
0,Arsenal until:2022-04-23,2022-04-22 23:59:56+00:00,RoweThings,Can‚Äôt seem to find any serious buyers tonight ...,0,3,0
1,Arsenal until:2022-04-23,2022-04-22 23:59:54+00:00,Ancurancuran01,Gabsus solusi masalah striker Arsenal kah?? ht...,0,0,0
2,Tottenham until:2022-04-23,2022-04-22 23:59:43+00:00,whoisroq,@astromyke you're just pained that the üêê isn't...,0,2,0
3,Tottenham until:2022-04-23,2022-04-22 23:56:16+00:00,chisom_sommie,@MHoholek @Opresii PREMIER LEAGUE team of the ...,2,0,0
4,Arsenal until:2022-04-20,2022-04-19 23:59:48+00:00,demo_craz,@Arsenal Make una no go disgrace us oo take Ma...,2,0,0
...,...,...,...,...,...,...,...
195,Tottenham until:2021-02-07,2021-02-06 23:59:25+00:00,tomdoorley,"@mark_tottenham Yes, that's a very interesting...",0,0,0
196,Arsenal until:2021-02-06,2021-02-05 23:59:57+00:00,DCfc1905,@waterblackv8 @Luke_MCFC Costa scored in that ...,0,0,0
197,Arsenal until:2021-02-06,2021-02-05 23:59:56+00:00,Barackoceive,@goal @isco_alarcon Arsenal,0,0,0
198,Tottenham until:2021-02-04,2021-02-03 23:59:07+00:00,heyyitsamee,"What Ol√© has done for Lingard, Spurs should ha...",2,0,0
199,Tottenham until:2021-02-04,2021-02-03 23:59:06+00:00,tatareloaded,@TottenhargHFC hacelo version tottenham o me l...,6,2,0

In [134]:
team_stats = pd.read_csv('Teams_Stats.csv')

In [135]:
team_stats

,Season,Team,Date,Time,Round,Day,Venue,Result,GF,GA,...,xG,xGA,Poss,Attendance,Captain,Formation,Referee,Match Report,Notes,Time(Fixe2)
0,2021/2022,Arsenal,5/22/2022,16:00,Matchweek 38,Sun,Home,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN,05-22-2022 16:00
1,2021/2022,Tottenham,5/22/2022,16:00,Matchweek 38,Sun,Away,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN,05-22-2022 16:00
2,2021/2022,Arsenal,5/16/2022,20:00,Matchweek 37,Mon,Away,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN,05-16-2022 20:00
3,2021/2022,Tottenham,5/15/2022,12:00,Matchweek 37,Sun,Home,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN,05-15-2022 12:00
4,2021/2022,Arsenal,5/12/2022,19:45,Matchweek 22,Thu,Away,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN,05-12-2022 19:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2017/2018,Tottenham,8/27/2017,16:00,Matchweek 3,Sun,Home,D,1.0,1.0,...,2.3,0.9,66.0,"67,862",Hugo Lloris,4-2-3-1,Lee Mason,Match Report,NaN,08-27-2017 16:00
376,2017/2018,Tottenham,8/20/2017,16:00,Matchweek 2,Sun,Home,L,1.0,2.0,...,0.6,0.8,68.0,"73,587",Hugo Lloris,4-3-2-1,Anthony Taylor,Match Report,NaN,08-20-2017 16:00
377,2017/2018,Arsenal,8/19/2017,17:30,Matchweek 2,Sat,Away,L,0.0,1.0,...,1.6,1.0,76.0,"29,459",Petr ƒåech,3/4/2003,Andre Marriner,Match Report,NaN,08-19-2017 17:30
378,2017/2018,Tottenham,8/13/2017,13:30,Matchweek 1,Sun,Away,W,2.0,0.0,...,1.9,0.6,72.0,"52,077",Hugo Lloris,4-2-3-1,Andre Marriner,Match Report,NaN,08-13-2017 13:30
379,2017/2018,Arsenal,8/11/2017,19:45,Matchweek 1,Fri,Home,W,4.0,3.0,...,2.3,1.3,69.0,"59,387",Petr ƒåech,3/4/2003,Mike Dean,Match Report,NaN,08-11-2017 19:45